<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular内置指令2</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style type="text/css" media="screen">
        input.ng-valid {
            border: 1px solid green;
        }
        input.ng-invalid {
            border: 1px solid red;
        }

        .red {
            background-color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <hr>
        <h3>ng-change</h3>
        <div ng-controller="EquationController">
            <input type="text" ng-model="equation.x" ng-change="change()" class="form-control" />
            <code>{{equation.output || "Please enter a number."}}</code>
        </div>

        <hr>
        <h3>ng-form</h3>
        <form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
            <div class="form-group" ng-repeat="field in fields" ng-form="signup_form_input">
                <input type="text" name="dynamic_input" ng-required="field.isRequired" ng-model="field.name"
                placeholder="{{field.placeholder}}" class="form-control">
                <div ng-show="signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid">
                    <span ng-class="{'text-danger': signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid}"
                    ng-show="signup_form_input.dynamic_input.$error.required">
                        The field is required.
                    </span>
                </div>
            </div>
            <button class="btn btn-primary">Submit All</button>
        </form>

        <hr>
        <h3>ng-select</h3>
        <div ng-controller="CityController">
            <select ng-model="city" ng-options="city.name for city in cities" class="form-control">
                <option value="">Choose City</option>
            </select>
            <h4 ng-class="{'text-danger': city.name == null ,'text-success': city.name != null}">Best City: {{city.name || "Please select a city."}}</h4>
        </div>

        <hr>
        <h3>ng-class</h3>
        <div ng-controller="LotteryController">
            <button class="btn btn-primary" ng-click="x = generateNumber()" ng-init="x = 0">Draw Number</button>
            <div ng-class="{red: x > 5}" ng-if="x > 5">
                You won!
            </div>
            <p>Number is: {{x}}</p>
        </div>
    </div>
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" charset="utf-8" defer>
        angular.module("myApp", [])
        .controller('EquationController', ['$scope', function($scope){
            $scope.equation = {};
            $scope.change = function() {
                $scope.equation.output = parseInt($scope.equation.x) + 2;
            };
        }]).controller('FormController', ['$scope', function($scope){
            $scope.fields = [
                {placeholder: 'Username', isRequired: true},
                {placeholder: 'Password', isRequired: true},
                {placeholder: 'Email(optional)', isRequired: false},
            ];

            $scope.submitForm = function() {
                alert("It works.");
                // if ($scope.person.name) {
                //     $scope.perple.push({name: $scope.person.name});
                //     $scope.person.name = '';
                // };
            };
        }]).controller('CityController', ['$scope', function($scope){
            $scope.cities = [
                {name: 'Seattle'},
                {name: 'San Francisco'},
                {name: 'Chicago'},
                {name: 'New York'},
                {name: 'Boston'}
            ];
        }]).controller('LotteryController', ['$scope', function($scope){
            $scope.generateNumber = function() {
                return Math.floor((Math.random() * 10) + 1);
            };
        }])
    </script>
</body>
</html>
