<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head ng-app="myApp">
    <title>ngSwitch Animate Demo</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <hr>
      <div ng-init="template='home'" ng-controller="HomeController">
        <button type="button" name="button" ng-click="template='home'">Home</button>
        <button type="button" name="button" ng-click="template='second'">Second</button>
        <button type="button" name="button" ng-click="template='third'">Third</button>
        <div ng-switch="template">
          <div class="animateSwitch" ng-switch-when="home">
            <h1>Home</h1>
          </div>
          <div class="animateSwitch" ng-switch-when="second">
            <h1>Second</h1>
          </div>
          <div class="animateSwitch" ng-switch-when="third">
            <h1>Third</h1>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript">
      angular.module("myApp", ['ngAnimate'])
      .controller("HomeController", function($scope) {})
    </script>
  </body>
</html>
